<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <header class="container text-center my-4">
        <h1>{{title}}</h1>
    </header>

    <div class="container">
        <div class="row">
            {{#each games}}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{#if image_url}}{{image_url}}{{else}}/images/default.jpg{{/if}}" alt="{{title}}" class="img-fluid">
                        <div class="card-body">
                            <h5 class="card-title">{{this.title}}</h5>
                            <p class="card-text">{{this.description}}</p>
                            <a href="/game/{{this.id}}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

    <footer class="container text-center mt-4">
        <p>&copy; 2024 GamerBud. All rights reserved.</p>
    </footer>
</body>
</html>
